/Web-based Learning/Javatpoint/Javatpoint_JavaSwing/nbproject/private/
/Web-based Learning/Javatpoint/Javatpoint_JavaSwing/build/
/Web-based Learning/Javatpoint/Javatpoint_JavaSwing/dist/
/ClassLectures/SwingClassLectures/dist/
/Projects/1.Pharmacy Management System/Pharmacy_Management_System/nbproject/private/
/Projects/1.Pharmacy Management System/Pharmacy_Management_System/build/
/Projects/1.Pharmacy Management System/Pharmacy_Management_System/dist/
/Web-based Learning/Javatpoint/Page/nbproject/private/
/Web-based Learning/Javatpoint/Page/build/